/*** OVERALL: Layout rules ***/

html{
    height: 100%;
}

body{
    position: relative;
    height: 100%;
    top:0;right:0;bottom:0;left:0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

section {
    flex-direction: column;
    overflow:visible;
    width: 50%;
    z-index: 2;
}

aside {
    display: flex;
    overflow: visible;
    flex-direction: column;
    width: 50%;
    z-index: 1;
}


/*** CLASSES: Unique formatted sections in webpage ***/

.mediumBreak {
    line-height: 5vh;
}


.bigBreak {
    line-height: 15vh;
}

.biggestBreak {
    line-height: 75vh;
}

.rotatedTitle {
    transform: rotate(-90deg);
    margin-top: -10%;
    margin-left: -30%;
    width: 80%;
    height: auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vh;
}
    
.descriptions {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
    
.instructions {
    margin-left: 20%;
    margin-right: 20%;
    color: #666;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.openingInstructions {
    overflow: visible;
    margin-left: 75%;
    margin-right: -50%;
    margin-top: 20%;
    color: #333;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


/* BUTTON specifc effects */
.buttonToggle {
    margin-left: 20%;
    border: none;
    display:block;
    background-color: #f15f53;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    transition-duration: .25s;
}
    
.buttonToggle:hover {
    background-color: #888; /* Grey */
    color: white;
}
    
.buttonToggle:active {
    background-color: #888;
    box-shadow: 0 5px gold;
    transform: translateY(4px);
}


/*** IDs: Unique object formatting for ids in webpage ***/

#topTitle {
    position: fixed;
    margin-left: 90%;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
    
a:hover {
    font-weight: bold;
}
    
a:active {
    background-color: #888;
    box-shadow: 0 5px gold;
    transform: translateY(4px);
}
    
#openingShot {
    margin-right: 20%;
    max-height: 100%;
    z-index: 1;
}

#primaryTitle {
    color: #dedede;
    z-index: 2;
    margin-top: 0%;
    overflow: visible;
    margin-left: 75%;
    margin-right: -50%;
    font-size: 50px;
    text-transform: lowercase;
}

#last-section {
    background-color: #dedede;
}

/* CAPTIONS */
#scatterText {
    margin-left: 20%;
    margin-top: -12%;
    width: 70%;
    height: auto;
}

#scatterTextInstructions {
    margin-left: 20%;;
    width: 70%;
    height: auto;
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

#barText {
    margin-left: 20%;
    margin-top: -12%;
    width: 70%;
    height: auto;
}

#barTextInstructions {
    margin-left: 20%;;
    width: 70%;
    height: auto;
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

#panoText {
    margin-left: 20%;
    margin-top: 20%;
    width: 70%;
    height: auto;
}

#panoTextInstructions {
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

#lastTitle {
    transform: rotate(-90deg);
    margin-top: -10%;
    margin-left: -30%;
    width: 80%;
    height: auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vh;
}

/*** GRAPHS: Formatting for the graphs ***/

.barchart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
    
.yAxis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
    
.xAxis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
    
    
#toolTip {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}
    
.xLabel {
    font-size: 10px;
    font-weight:lighter;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}
    
.yLabel {
    font-size: 20px;
    font-weight:lighter;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}
    
#axisLabels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform:lowercase;
}
    
#axisLabelsScat {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform:lowercase;
}
    


/*** MAPBOX SCROLL: style for mb scrolling ***/
/*
a, a:hover, a:visited {
    color: #0071bc;
}

#map {
    top:0; 
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: -5;
}
#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}*/